@import "tailwindcss";




body {
  background: linear-gradient(
    160deg,
    #96d5ff 0%,
    #96cff3 30%,
    #e0c4f3 65%,
    #ffbadf 100%
  );
  min-height: 100vh;
   background-attachment: fixed;
  font-family: 'Segoe UI', sans-serif;
}